

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Insurance Claim Portal</h1>
    <p>Use the button below : </p>

    <a asp-controller="Claim" asp-action="Index" class="btn btn-success btn-lg">
       Click here for Claim Page
    </a>
</div>
